<div class="title-info-bar type-write-anim">
  <i class="fas fa-bell faa-ring animated"></i>
  <span class="title-info-alert">{% trans %}dernieres infos{% endtrans %}</span>
</div>
<div class="describe-info-bar">
  <div id="typed-strings">
    {% for lastFiveInfo in lastFiveInfos %}
      <p>
        <a href="{{
          path(
            'actualite_show',
            {
              id: lastFiveInfo['id-article']
            }
          )
          }}">
          {{ lastFiveInfo['title']|slice(0, 180) }}
        </a>
      </p>
    {% endfor %}
  </div>
  <span id="typed"></span>
</div>
