{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le portail de la région d'Aitkermoune{% endblock %}

{% block body %}
    {% include '/carousel.html.twig' with images %}
    <br />
    <div class="section-poll">
        {{ render(controller('App\\Controller\\ReponseSondageController::actualPoll')) }}
    </div>
    {% include 'accueil/resume.html.twig' %}

    <div class="title-bloc">
        <i class="fab fa-youtube"></i> {% trans %}vidéos ajoutées{% endtrans %}
    </div>
    <div class="card-deck">
        {{ render(controller('App\\Controller\\YoutubeVideosController::ThumbnailsVideos')) }}
    </div>
    <div class="d-inline-block d-block d-lg-none">
        <div class="title-bloc">
            <i class="fas fa-cloud-sun"></i> {% trans %}Météo{% endtrans %}
        </div>
        <iframe src="https://www.meteoblue.com/fr/meteo/widget/daily/29.387N-9.549E1139_Africa%2FCasablanca?geoloc=fixed&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 100%;height: 400px"></iframe><div></div>
        <div class="title-bloc">
            <i class="fab fa-facebook"></i> {% trans %}Suivez-nous sur Facebook{% endtrans %}
        </div>
        <center>
            <div class="fb-page w-100"
                 data-href="https://www.facebook.com/aitkermoune.tk/" 
                 data-hide-cover="false"
                 data-show-facepile="false">
            </div>
        </center>    
    </div>
    <script>
        var itemMenu = 1;
    </script>
    {% include '/accueil/js_accueil.html.twig' %}
{% endblock %}
