{% extends 'base.html.twig' %}

{% block title %}{% trans %}Bientôt{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="libelle-bientot">{% trans %}Bientôt{% endtrans %}</h1>
    <script>
        var itemMenu = 3;
    </script>
{% endblock %}

