<div class="card-horizontal row">
    <div id="map" class="col-12 col-md-6">
    </div>
    <div class="card-stacked col-12 col-md-6">
        <div class="card-content">
            <h3>أيت كــــرمون في كلمات</h3>
            <p>قريَة تتـواجد بالمنطقة الجنوبية بالمغرب و بجهة سوس ماسة درعة، وبالتحديد بالجنوب الشرقي لمدينة تيـِزنـيـت ، بقبيلة 'إمجاض.
                <br />
                تبعد أيت كرمون عن تيزنـيت بما يقارب ٦٠ كلم، وتتبع إذاريا لجماعة سبت النابور منذ أوخر القرن العشرين، حيث كانت تابعثا لجماعة تغيرت التي عرفت إنشقاقا في تلك الفترة. 
                <br/>
                منذ الإعلان، في أواخر 2000، عن تعيين سيدي إفني كعمالة جذيدة بجنوب البلاد، تم إعادة التقسيم الإداري و إنضمام إمجاض عامة و أيت كرمون خاصة إلى هذه العمالة بدلا من تيزنيت رغم تقرب هذه الأخيرة من الساكنة.</p>
            <button class="btn btn btn-outline-info">المزيد</button>
        </div>
    </div>
</div>
