{% extends 'base.html.twig' %}

{% block title %}Edit ReponseSondage{% endblock %}

{% block body %}
    <h1>Edit ReponseSondage</h1>

    {{ include('reponse_sondage/_form.html.twig', {'button_label': 'Update', 'type_button': 'info', 'icon_label': 'fa-sync-alt'}) }}

    <a href="{{ path('reponse_sondage_index') }}">back to list</a>

    {{ include('reponse_sondage/_delete_form.html.twig') }}
{% endblock %}
