{% extends 'base.html.twig' %}

{% block title %}Edit QuestionSondage{% endblock %}

{% block body %}
    <h1>Edit QuestionSondage</h1>

    {{ include('question_sondage/_form.html.twig', {'button_label': 'Mettre à jour', 'type_button': 'info', 'icon_label': 'fa-sync-alt'}) }}

{% endblock %}
