{% extends 'base.html.twig' %}

{% block title %}New LocalityMap{% endblock %}

{% block body %}
    <h1>Create new LocalityMap</h1>

    {{ include('locality_map/_form.html.twig') }}

{% endblock %}
