{% extends 'base.html.twig' %}

{% block title %}New YoutubeVideos{% endblock %}

{% block body %}
    <h1>Create new YoutubeVideos</h1>

    {{ include('youtube_videos/_form.html.twig', {'button_label': 'Enregistrer', 'type_button': 'success', 'icon_label': 'fa-save'}) }}

    <a href="{{ path('youtube_videos_index') }}">{{ include('button.html.twig', {'type_button': 'outline-dark', 'button_label': "Retour à la liste", 'icon_label': 'fa-undo-alt' }) }}</a>
{% endblock %}
