@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
:root {
    --head-bg-color: #c9e1f6;
}

#fos_comment_thread h3{
    /*font-family: 'Tomorrow', sans-serif;*/
}

#fos_comment_thread h3:nth-child(2){
    font-size: 1.5em;
}
textarea{
    width: -webkit-fill-available;
    height: 150px;
    border: .5px solid;
    border-radius: 5px;
}

.fos_comment_comment_reply {
    margin-left: 0px;
    margin-bottom: 1rem;
}

.fos_comment_comment_authorname{
    font-weight: bold;
    border-right: 1px dashed #abc8e2;
    margin-right: 5px;
}

.fos_comment_comment_body{             
    background: #fff;
    border-radius: 0 0 5px 5px;
    text-indent: 30px;
    margin-bottom: 0.2rem;
    padding: 5px;

}

.fos_comment_comment_show{
    border-radius: 5px;
    padding: 15px;
    padding-right: 0px !important;
    border-left: outset;
}

button, [type="submit"], .fos_comment_comment_reply_cancel{                
    box-shadow: 1px 2px 0px 0px #c5c5c5c9;
}

#fos_comment_thread [type="submit"]{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out;
}

.fos_comment_comment_voting button:nth-child(1){
    color: #007bff;
    background-color: #fff;
    border: 1.3px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out;
}
.fos_comment_comment_voting button:nth-child(2){
    color: #dc3545;
    background-color: #fff;
    border: 1.3px solid #dc3545;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out;
}

.fos_comment_comment_reply_show_form, .fos_comment_comment_reply_show_form:hover, .fos_comment_comment_reply_show_form:active, .fos_comment_comment_reply_show_form:focus{
    color: #fff;
    background-color: #c8e390;
    border-color: #c8e390;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out;
}
button.fos_comment_comment_reply_show_form:hover {
    background: yellowgreen;
}
.fos_comment_comment_voting button:nth-child(1):hover {
    background: #007bff;
    color: #fff;
}
.fos_comment_comment_voting button:nth-child(2):hover{
    color: #fff;
    background: #dc3545;
}
.fos_comment_comment_reply_cancel{
    background-color:transparent;
    border: 1px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out;
}
div.fos_comment_comment_body {
    border: 1px solid;
    border-color: var(--head-bg-color);
    padding: 5px;
}
.fos_comment_comment_metas {
    background: linear-gradient(to right, var(--head-bg-color) 75%, #fff 110%);
    border-radius: 0 5px 0 0;
    padding: 5px;
    height: 5em;
}
.fos_comment_comment_voting {
    float: right;
    margin-top: -1.79em;
}
.fos_comment_comment_score {
    border: 1px solid;
    border-color: var(--head-bg-color);
    font-size: 0.9em;
    border-radius: 4px;
    background: #418b94;
    margin-top: 1px;
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
}
.fos_comment_comment_reply{
    display: none;
}
span.fos_comment_comment_authorname {
    color: slategray;
}
input.label-input{
    margin-bottom: 15px;
    border: 1px solid #000;
}
span.label.label-default {
    direction: rtl;
    float: right;
}
.fos_comment_comment_form_holder h3, h3.title-page {
    border-bottom: 4px solid #065ba0ee;
    color: #065ba0ee;
    margin-bottom: 1em;
    font-size: 1.8em;
    padding-bottom: .3em;
}