{% extends 'base.html.twig' %}

{% block title %}Edit Actualite{% endblock %}

{% block body %}
    <h1>Modifier l'actualite</h1>

    {{ include('actualite/_form.html.twig', {'button_label': 'Update', 'type_button': 'info', 'icon_label': 'fa-sync-alt'}) }}
{% endblock %}
