{% extends 'base.html.twig' %}

{% block title %}Modifier l'actualité{% endblock %}

{% block body %}
    <h1>{% trans into 'ar' %}Modifier l'actualité{% endtrans %}</h1>

    {{ include('actualite/_form.html.twig', {'button_label': 'Mettre à jour', 'type_button': 'info', 'icon_label': 'fa-sync-alt'}) }}
{% endblock %}
