{% extends 'base.html.twig' %}

{% block title %}Nouvelle Actualité{% endblock %}

{% block body %}
    <h1>Rédiger une nouvelle Actualité</h1>
    {{ include('actualite/_form.html.twig', {'button_label': 'Enregistrer', 'type_button': 'success', 'icon_label': 'fa-save'}) }}
{% endblock %}
