{% extends 'base.html.twig' %}

{% block title %}Les images uploadées{% endblock %}

{% block body %}
    <h1>Les images uploadées</h1>
    <div class="row text-center text-lg-left">
        {% for image in images %}
                <div class="col-lg-3 col-md-4 col-6">
                <i class="d-block mb-4 h-100">
                        <img src="{{asset('/uploads/documents/')~image }}" class="img-fluid img-thumbnail" />
                        </i>
                
                </div>
        {% endfor %}
    </div>
{% endblock %}
