{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle réponse{% endblock %}

{% block body %}
    <h1>Ajouter des nouvelles réponses</h1>

    {{ include('reponse_sondage/_form.html.twig', {'button_label': 'Enregistrer', 'type_button': 'success', 'icon_label': 'fa-save'}) }}
    <hr>
    <a href="{{ path('reponse_sondage_index') }}">Retour à la liste</a>
{% endblock %}
